XML and Json/Tp7/ex3/playlist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="playlist">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chanson" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titre" type="xs:string"/>
                            <xs:element name="artiste" type="xs:string"/>
                            <xs:element name="album" type="xs:string"/>
                            <xs:element name="duree" type="xs:string"/>
                            <xs:element name="genre" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>