XML and Json/Tp4/rapport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="rapport">
    <xsd:complexType>
        <xsd:sequence>

            <xsd:element name="mondata" minOccurs="1" maxOccurs="unbounded"> 
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="expediteur" >
                   <xsd:complexType>

                     <xsd:attributeGroup ref="personne"/>

                   </xsd:complexType>
                  </xsd:element>

                  <xsd:element name="destinataire">
                    <xsd:complexType>
                        <xsd:attributeGroup ref="personne"/>
                    </xsd:complexType>
                    </xsd:element>
                  
                </xsd:sequence>
                <xsd:attribute name="numero" type="xsd:int" use="required"/>
                <xsd:attribute name="date" type="xsd:string" use="required"/>
                <xsd:attribute name="montant" type="xsd:string" use="optional"/>
                <xsd:attribute name="devise" type="xsd:string" default="Non_recu" use="optional"/>
              </xsd:complexType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>
 </xsd:element>
    <xsd:attributeGroup name="personne">
        <xsd:attribute name="cin" type="xsd:string" use="required"/>
        <xsd:attribute name="nom" type="xsd:string" use="required"/>
        <xsd:attribute name="prenom" type="xsd:string" use="required"/>
        <xsd:attribute name="ville" type="xsd:string" use="optional"/>
    </xsd:attributeGroup>
</xsd:schema>